<%- include('layouts/header') %>

<div class="container px-5 my-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <h1>Agregar Piezas</h1>
        <form
            id="add-form"
            action="/add"
            method="post"
            enctype="multipart/form-data"
        >
            <div class="mb-3">
            <label class="form-label" for="code">Codigo</label>
            <input
                class="form-control"
                id="code"
                name="code"
                type="text"
                placeholder="Codigo"
            />
            </div>
            <div class="mb-3">
            <label class="form-label" for="name">Nombre</label>
            <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="Nombre"
            />
            </div>
            <div class="mb-3">
            <label class="form-label" for="description">Descripcion</label>
            <input
                class="form-control"
                id="description"
                name="description"
                type="text"
                placeholder="Descripcion"
            />
            </div>
            <div class="mb-3">
            <label class="form-label" for="amount">Cantidad disponible en Almacen</label>
            <input
                class="form-control"
                id="amount"
                name="amount"
                type="text"
                placeholder="Cantidad"
            />
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Precio</label>
                <input
                    class="form-control"
                    id="price"
                    name="price"
                    type="text"
                    placeholder="Precio"
                />
                </div>
            <div class="mb-3">
            <label class="form-label">Foto</label>
            <input name="image" class="form-control" type="file" required />
            </div>
            <div class="d-grid">
            <input
                type="submit"
                class="btn btn-primary btn-lg"
                value="Añadir Pieza"
            />
            </div>
        </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<%- include('layouts/footer') %>
